#plane
{
    position: absolute;
    top: 750px;
    left: 300px;
    height: 50px;
    z-index: 1;

}
body{
    caret-color: transparent;
    margin: 0px;
}
#airport{
    width: 1050px;
    height: 809px;
    background-image: url("runway.jpg");
    background-size: auto;
    background-position: center;
    margin: auto;
}

.enemy-area{
    margin: auto;
    position: absolute;
    width: 80px;
    height: 80px;
}

.enemy{
    width: 100%;
}

.fail{
    width: 250%;
    position: absolute;
    z-index: 2;
    top: -100px;
    left: -70px;
}

.game-win{
    position: absolute;
    object-fit: cover;
}

.ring{
    position: absolute;
    width: 60px;
    height: 60px;
}

.points{
    position: absolute;
    top: 64.5%;
    left: 0.7%;
    font-weight: bold;
    font-size:larger;
    font-style: italic;
    color: skyblue;
    background-color: bisque;
}